[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql
[submodule "cookbooks/imagemagick"]
	path = cookbooks/imagemagick
	url = https://github.com/opscode-cookbooks/imagemagick
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "cookbooks/iptables"]
	path = cookbooks/iptables
	url = https://github.com/opscode-cookbooks/iptables
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = https://github.com/opscode-cookbooks/php
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = https://github.com/opscode-cookbooks/database
[submodule "cookbooks/postfix"]
	path = cookbooks/postfix
	url = git://github.com/opscode-cookbooks/postfix.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "cookbooks/pureftpd"]
	path = cookbooks/pureftpd
	url = git://github.com/daniellienert/chef-pureftpd.git
[submodule "cookbooks/certificate"]
	path = cookbooks/certificate
	url = git://github.com/atomic-penguin/cookbook-certificate.git
[submodule "cookbooks/ubuntu"]
	path = cookbooks/ubuntu
	url = git://github.com/brodock/chef-ubuntu.git
